
{% extends "layout.html" %}
{% load static %}
{% block static %} 
    <link rel="stylesheet" href="{% static 'courses/static.css'%}">
{% endblock %}

{% block title %}Listado de cursos{% endblock %}

{% block content %}
    <div class="cards">
        {% for course in courses %}
            <div class="card">
                <head><a href="{% url 'courses:course_detail' pk=course.pk %}"><h2>{{ course.title }}</h2></a></head>
                <div class="card-body">
                    {{ course.description }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
